.usermain{
    height:50px;
    min-height: 30px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size:small;
    border-radius: 5px;
}
@media screen and (max-width:500px){
    .usermain{
        font-size:12px;
    }
}
.checkbox
{
    width:10%;
    display: flex;
    justify-content: start;
}
.name{
    width:25%;
    display: flex;
    justify-content: start;
}
.email{
    width:25%;
    display: flex;
    justify-content: start;
    overflow:unset;
}
.role{
    width:15%;
    display: flex;
    justify-content: start;
}
.action{
    width:20%;  
    display: flex;
    justify-content: center;
    gap:10% ;
}
.icons{
    width:25px;
    height:25px;
    box-shadow: 2px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
input{
    border:none;
    font-family: 'Noto Sans', sans-serif;
}
input:focus{
    outline:none;
}